@media (min-width: 1201px) and (orientation: landscape) {
  body {
    background-color: darkorange;
  }
  p {
  color: coral;
  font-size: 60px;
  }
}

@media (max-width: 1200px) {
  
  body {
    background-color: lightgreen;
  }
   p {
    color: green;
    font-size: 45px;
  }
}


@media (max-width: 768px) {
  body {
    background-color: mediumpurple;
     
  }
   p {
    color: rebeccapurple;
    font-size: 35px;
  }
  
}

@media (max-width: 320px) {  
  body {
    background-color: deeppink;
    font-size: 30%;
  }
   p {
    color: deeppink;
    font-size: 25px;
  }
}


.container {
  display: flex;
  width: 100%;
  margin: 0 auto;
  
}
header {
  background-image: url(../img/Campos-de-trigo-por-Vincent-Van-Gogh-lienzos-pintados-a-Mano-de-Pintura-de-Alta-calidad.jpg);
  background-size: cover;
  height: 400px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}



*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.textCenter{
  text-align: center;
}

.row:before, .row:after{
  content: " ";
  display: table;
}
.row:after{
  clear: both;
}
[class*="col-"]{
  min-height: 7px;
  float: left;
}
.col-1-1{
  width: 5%;
}
.col-1{
  width: 8.333%;
}
.col-2{
  width: 16.667%;
}
.col-3{
  width: 25%;
}
.col-4{
  width: 33.333%;
}
.col-5{
  width: 41.667%;
}
.col-6{
  width: 50%;
}
.col-7{
  width: 58.333%;
}
.col-8{
  /*width: 66.667%;*/
  width: 700px;
}
.col-9{
  width: 75%;
}
.col-10{
  width: 83.333%;
}
.col-11{
  width: 91.667%;
}
.col-12{
  width: 100%;
}